name: Docker Build

on:
  push:
    branches: [main]

jobs:
  build_and_publish_docker_images:
    name: "Build and Publish Docker"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: ghcr.io/${{ github.repository }}

      - name: docker build
        run: |
          make docker-build

      - name: docker push
        run: |
          make docker-push IMG=ghcr.io/${{ github.repository }}:${{ steps.meta.outputs.tags }}
